*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	background-image: url(background2.jpg);
	background-size: cover;
	background-position: center;
	
	font-family: sans-serif;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.menu-bar
{
	background: rgb(128, 128, 128);
	text-align: center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;
}
.menu-bar ul li 
{
	width: 120px;
	margin: 15px;
	padding: 10px;
}
.logo img{
 	float: left;
 	width: 275px;
 	height: auto;
 	filter: contrast(30);
 	
 	
 	
 }
.menu-bar ul li a 
{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
}
.menu-bar .fa 
{
	margin-right: 8px;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(128, 128, 128);
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li 
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a 
{
	color: #b2ff00;
}
.fa-angle-right
{
	float: right;
}
.sub-menu-2
{
	display: none;
}
.hover-me:hover .sub-menu-2
{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background-color: rgb(128, 128, 128);

}
.title h1
{
 	color: black;
 	font-size: 60px;
 }
 .title{
 	position: absolute;
 	top: 85%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 }
 .title h1{
 	color: white;
 	font-size: 30px;
 }